body {
    font-family: Arial;
    background: #f4f6f8;
    text-align: center;
}

h1 {
    background: #2c3e50;
    color: white;
    padding: 15px;
}

.success {
    color: green;
    font-weight: bold;
}

.menu {
    display: grid;
    grid-template-columns: repeat(2, 220px);
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

.card {
    background: white;
    padding: 20px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card:hover {
    background: #3498db;
    color: white;
}

.logout {
    background: #e74c3c;
    color: white;
}
